* {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

:root {
    --default-color: rgb(179, 11, 11);
    --default-color-hover: rgb(131, 8, 8);
    --default-color-disabled: rgba(131, 8, 8, .5);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    transition: scroll 15s linear;
}

html {
    font-size: 16px;
}

button:disabled {
    border: 1px solid var(--default-color-disabled) !important;
    color: var(--default-color-disabled) !important;
    cursor: not-allowed !important;
}

@media screen and (max-width: 50em) {
    html {
        font-size: calc(16px + (24 - 16) * (100vw - 400px) / (800 - 400));
    }
}

@media screen and (min-width: 25em) {
    html {
        font-size: calc(16px + (24 - 16) * (100vw - 400px) / (800 - 400));
    }
}