.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

input[type="text"] {
    border: 1px solid #DDD;
    background: none;
    padding: .2rem;
    width: 15rem;
}

input[type="submit"] {
    border: 1px solid #DDD;
    border-left: none;
    background-color: #EEE;
    padding: .2rem;
    cursor: pointer;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
}

input[type="submit"]:hover {
    background-color: #DDD;
}

.videos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: .312rem;
    min-height: 100%;
}

.mat-card {
    max-width: 400px;
    margin: 0 0 .5rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

.mat-card-title {
    font-size: .439rem;
    font-weight: bold;
}

.mat-card-subtitle, .mat-card-content {
    font-size: .390rem;
}

.videos-buttons button {
    border: 1px solid var(--default-color);
    color: var(--default-color);
    background: transparent;
    padding: .312rem;
    cursor: pointer;
    margin: 0 4rem;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
}

.videos-buttons button:hover:not(:disabled) {
    background: var(--default-color);
    color: #FFF;
}